.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px; 
  padding: 0 30px;
  width: 100%;
  background-color: #ff9800;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box;
}


.navbar-logo {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
}


.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #333;
}


@media (max-width: 768px) {
  .navbar-links {
    display: none; 
  }
}
